.btn-primary{
  margin: 15px;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #FFBE00;
}

.btn-secondary{
  display: block;
  width: 200px;
  height: 60px;
  background-color: #FFBE00;
  margin: 24px;
  border-radius: 15px;
  outline: none;
}

.btn-secondary:hover{
  background-color: #00B18F;
}

.btn-secondary > a {
  color: #282c34;
  text-decoration: none;
}

.btn-primary:focus, .btn-secondary:focus {
  outline: none;
}
