.img-menu{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 15px;
}
p{
    font-weight: 600;
    text-align: initial;
}


.container-products{
  width: 80%;
  margin: 12px auto;
  display: flex;
  flex-flow: column;
}

@media only screen and (min-width: 1024px ) {
  .container-products{
    margin: 24px auto;
  }
}
