.container-products{
  width: 100%;
  margin: 12px auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

@media only screen and (min-width: 1024px ) {
  .container-products{
    margin: 24px auto;
  }
}
