@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&display=swap');

// Mobile Breakpoints
$mobile-screen: 280px;
$small-screen:  425px;
$medium-screen: 1023px;

$primary-font: 'Poppins', sans-serif;
$second-font: 'Assistant', sans-serif;
$text: #393939;
$base-color: #98838F;
$brand-color: #98CE00;
$accent-color: #16E0BD;
$premium-color: #89A6FB;
$blue-color: #78C3FB;
$white-color: #FFFFFF;
