@import url('https://fonts.googleapis.com/css?family=Roboto');

.header{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
  