header{
  background-color: #282c34;
  min-height: 10vh;
  display: block;
  text-align: center;
}

.name-header{
  width: 95%;
  font-size: 40px;
  color: white;
  float: left;
}

.link-router{
  width: 5%;
  font-size: 1.4em;
  background-color: azure;
  border-radius: 5px;
  padding: 5px;
  align-content: center;
}

