header{
  background-color: #282c34;
  min-height: 10vh;
  display: block;
  text-align: center;
}

.name-header{
  width: 70%;
  display: flex;
  font-size: 40px;
  color: white;
}

.link-router{
  width: 10%;
  display: flex;
  font-size: 30px;
}
