.product{
    border-radius: 5px;
    margin: 1%;
    font-size: 13px;
    width: 30%;
    padding: 10px 0px;
    color: black;
    font-family: inherit;
}

.blocks{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px 0px 15px;
}
.img-menu{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 15px;
}
p{
    font-weight: 600;
    margin: 0 4px;
}