.sign{
    font-size: 8px;
    color: white;
    height: 18px;
    width: 18px;
    background-color: #282c34;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.data-product p{
    font-size: 12px;
}

table{
    margin: 30px;
    align-content: center;
}
table thead{
    background-color: #FFBE00;
}
table th{
    padding: 10px;
}
table span{
    font-size: 18px;
}