.inicio{
    background-image: url(https://user-images.githubusercontent.com/45070947/56369372-d5ca5b80-61be-11e9-9f0c-e5d9b0e37d08.png);
    background-attachment: fixed;
    background-size:cover;
    height: 700px;
}
header{
    padding: 40px;
    color: white;
}
a{
    color: #282c34;
    font-weight: 800;
    font-size: 20px;
}
