.main-container{
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

.section-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px ) {
  .main-container {
    width: 100%;
    max-width: 1184px;
    flex-direction: row;
  }
  .section-container{
    flex: 1;
  }
}
