.product-selected{
  border-bottom: 1px solid #282c34;
  padding: 16px 0;
  margin: 0;
}

.product-selected-name{
  font-size: 20px;
}

.product-selected-quantity{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;
}

.product-selected-button{
    border-radius: 4px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin: 0 12px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px ) {
  .product-selected-quantity{
    flex-direction: row;
    align-items: center;
  }
  .product-selected{
    margin: 32px 0;
  }
}
