.back-uno{
    background-color: #f3f3f3;
    border: 3px solid #00B18F;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}
h3{
    margin: 15px;
    color: #CC0001;
}

button:focus, input:focus{
  outline: none;
}

a:hover{
  outline: 0;
  text-decoration: none;
}
