.back-uno{
    background-color: #f3f3f3;
    border: 3px solid #00B18F;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}
h3{
    margin: 15px;
    color: #CC0001; 
}
button{
    margin: 15px;
    background-color: #282c34;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.bodrow{
    display: flex;
    flex-wrap: wrap;
}