.pedido{
    border-style: groove;
    border-radius: 10px;
    width: 100%;
    text-align: -webkit-center;
    padding: 12px;
    box-sizing: border-box;
    margin: 16px 0;
    position: relative;
}
.pedidos-fire{
    margin: 10px 0;
    font-size: 18px;
}
.title{
    font-size: 20px;
}
.hora-pedido{
    font-size: 15px;
}
.head-pedidos{
    border-bottom: groove;
}
hr{
    border-top: 2px solid #FFBE00;
}

.container-pedidos{
  display: flex;
  flex-flow: wrap;
}

.container-pedidos-prod{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}


@media only screen and (min-width: 1024px ) {
  .pedido{
    width: 284px;
  }
  .container-pedidos{
    justify-content: space-between;
  }
  .pedidos-fire{
    min-height: 180px;
  }
}
